html {
  background-color: #1B1B1B;
  }
  
  body {
    background-color: #1B1B1B;
    color: white;
  }
  
  input,
  textarea {
    background-color: #4B4B4B;
    color: white;
  }
  
  .globalContainer{
    background-color: #1B1B1B;
  }
  .row {
    background-color: #1B1B1B;
    color: white;
  }
  
  .row h1 {
    color: #C90326;
  }
  
  .col-md-2 {
    border-right: 2px solid white ;
  }
  
  .col-md-2 h1 {
    color: #C90326;
  }
  
  .btn-custom {
    background-color: #C70625;
    color: white;
    border-radius: none;
    border: none;
    padding: 0.5rem 2.5rem;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn-custom:hover {
    background-color: #E03043;
    transform: scale(1.05);
  }
  
  #card {
    border: none;
    background-color: #1B1B1B;
    border-radius: 0px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  #card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #C70625;
    cursor: pointer;
  }
  
  #card:hover #card-title {
    color: #1B1B1B;
    transition: color 0.3s ease
  }
  
  #card-title {
    color: #C90326;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 0.3rem;
  }
  
  #card-text {
    font-size: 15px;
    color: white;
    font-weight: 500;
    text-align: start;
  }
  
  .btn-custom-2 {
    background-color: #C70625;
    color: white;
    border-radius: none;
    border: none;
    padding: 0.5rem 2rem;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
    margin: 1rem 1rem;
  }
  
  .btn-custom-2:hover {
    background-color: #E03043;
    transform: scale(1.05);
  }
  
  .limited-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
  }
  